@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
  :root {
    --radius: 0.5rem
  }
} */

body {
	font-family: "Roboto", sans-serif;
}


/* Adicione estas regras ao seu arquivo CSS existente */
@media (max-width: 768px) {
  .animate__animated {
    animation-duration: 0.5s !important;
    -webkit-animation-duration: 0.5s !important;
    animation-fill-mode: both !important;
    -webkit-animation-fill-mode: both !important;
    will-change: transform, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

/* Força a aplicação das animações em dispositivos móveis */
.animate__backInLeft, 
.animate__backInRight {
  animation-name: backInLeft !important;
  -webkit-animation-name: backInLeft !important;
}

.animate__backInRight {
  animation-name: backInRight !important;
  -webkit-animation-name: backInRight !important;
}
